@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Share+Tech+Mono&display=swap");

body {
  background-color: rgb(255, 244, 228);
}

.main-heading {
  padding: 15rem 0 15rem 0;
  text-align: center;
  background-image: url(https://cdn.onlinewebfonts.com/svg/img_248242.png);
  background-size: 20rem;
  background-repeat: no-repeat;
  background-position: center;
}

.main-heading h1 {
  font-family: "Major Mono Display", monospace;
  color: rgb(0, 82, 158);
  font-size: 3rem;
  letter-spacing: 1rem;
}

.i-use-arch-btw {
  display: block;
  padding: 5rem 0 5rem 0;
  background-color: rgb(64, 185, 255);
  text-align: left;
  width: 100%;
}

.i-use-arch-btw p {
font-size: 2rem;
  font-family: "Major Mono Display", monospace;
  font-family: "Share Tech Mono", monospace;
  resize: none;
  white-space: pre-wrap;
  padding-left: 36%;
}
